<style>
/* top과 bottom 사이의 메인 구조 */
	th{
	/* 이부분이 필요한지 모르겠다. memberDetail에서는 필요한데... 그냥 쿠키문제인지 */
		width : 10vw;
	}
	
	/* 테이블의 tr의 label */
	.tableLabel{
		margin-right: 5vw;
		width:20vw;    
    }
    
    /* input text 칸 */
    #mainContainer > .form-control{
     	width: 45vh;
    }
    
    /* 라디오버튼, 체크박스 */
    .form-check-input, .checkbox{
    	width : 10vw;
    	margin : 0;
    	display : inline;
    }
    
    #mainContainer > tr{
    	height:15vh;
    }
    .check_tr{
    	overflow:hidden;
    	height:5vh;
    }
    
    @media (max-width: 1340px) {
		#mainContainer{
			min-height: 63vh;
			margin-top : 22vh;
			margin-bottom : 10vh;
		}
	}
    @media (min-width: 1340px) {
		#mainContainer{
			min-height: 66vh;
			margin-bottom : 10vh;
		}
	}
	
	#formTitle{
		font-size: 1.8em;
		margin-bottom : 15vh;
		align : left;
		font-weight: bold;
	}
    #mainContainer > div > a:link { color: black; text-decoration: none;}
	#mainContainer > div > a:visited { color: black; text-decoration: none;}
	#mainContainer > div > a:hover { color: white; text-decoration: none;}
	#mainContainer > div > a { width:200px; margin:10px;}
   
   #pDiv{
   	margin-top : 15vh;
   	margin-bottom : 10vh;
   	font-size : 1.8em;
   }

    .box a:link , .iconDiv a:link { color: gray; text-decoration: none; }
    .box a:visited, .iconDiv a:visited { color: gray; text-decoration: none; }
    .box a:hover , .iconDiv a:hover { color: gray; text-decoration: underline; }
/* mainContainer */
    @media (max-width: 1340px){
		#mainContainer {
		    min-height: 63vh;
		    margin-top: 17vh;
		    margin-bottom: 10vh;
		    width: 85vw;
		}
    }
    @media (min-width: 1340px){
		#mainContainer {
		    min-height: 63vh;
		    margin-top: 17vh;
		    margin-bottom: 10vh;
		    width: 84vw;
		}
    }

/* memberPage.jsp에 대한 css */
    #iconBox{
        float: left;
    }
    @media (max-width: 1020px) {
	    .box{
	        height : 30vh;
	        width : 82vw;
	        margin-bottom : 10vh;
	        border : 1px dashed #bcbcbc;
	    }
    }
    @media (min-width: 1020px) {
	    .box{
	        height : 30vh;
	        width : 55vw;
	        margin-bottom : 10vh;
	        border : 1px dashed #bcbcbc;
	    }
    }
    @media (max-width: 1020px) {
	    .boxFull{
	        height : 30vh;
	        width : 82vw;
	        margin-bottom : 10vh;
	        overflow:hidden;
	    }
    }
    @media (min-width: 1020px) {
	    .boxFull{
	        height : 30vh;
	        width : 55vw;
	        margin-bottom : 10vh;
	        overflow:hidden;
	    }
    }

    .box a{
      vertical-align: middle;
      line-height: 250px;
    }

    .iconDiv{
      text-align: center;
      display: inline-block;
      width: 115px;
    }
    .iconDiv label{
      color: gray;
    }

    .iconDiv label{
      font-size: 11pt;
    }
    
    .seeAll{
      font-size: 10pt;
      float: right;
      padding-top: 5px;
    }

    @media (max-width: 1020px) {
      #profile{
        float: left;
        padding-top: 40px;
        margin-left: 30px;
      }
      #profileImg{
        float: left;
      }
    }
    #mainBox{
    	margin-top : 20px;
    	padding-top : 20px;
    }
    
    iframe {
    	width : 100%;
    }
    
    

</style>